<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br>
    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>
    <label for="job">Enter job: </label>
    <input type="text" th:field="*{job}" id="job"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('job')}" th:errors="*{job}">Job error</div>
    <br>
    <hr/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>