<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>
<p th:text="${user.getJob()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a><br>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" ><br>
    <input type="submit" value="Delete">
</form>

</body>
</html>